window_images
camera_images

"classroom/Download All/allprojects.tar.gz.bak"
python_integrated
.realsun_int_count
.srt_win_count
window_images_solarflare
interesting/jun03_solarflare/
interesting/jun13_solarflare/
*all*.tar.gz*
